<div class="au-c-template au-c-template--agenda agendapunten" prefix="{{prefixes}}">
  <div about="{{this.meeting.uri}}" typeof="besluit:Zitting">
    <h1>Agenda voor <span property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor" resource="{{this.meeting.adminBodyUri}}" typeof="besluit:Bestuursorgaan">{{this.meeting.adminBodyName}}</span>, zitting
      gepland op <span property="http://data.vlaanderen.be/ns/besluit#geplandeStart" content="{{this.meeting.plannedStart}}" datatype="http://www.w3.org/2001/XMLSchema#dateTime">{{this.meeting.plannedStartText}}</span></h1>
    <ul class="au-c-template-list">
    {{#each this.agendapoints}}
      <li class="au-c-template-list__item" property="besluit:behandelt" resource="{{this.uri}}" typeof="besluit:Agendapunt">
        Agendapunt -
        <span property="besluit:geplandOpenbaar" datatype="xsd:boolean" content="{{this.plannedPublic}}">
        {{#if this.plannedPublic}}
          <span class="au-c-template-public">Gepland openbaar</span>
        {{else}}
          <span class="au-c-template-private">Gepland besloten</span>
        {{/if}}
        </span>
        {{#if this.addedAfter}}
          <span property="besluit:aangebrachtNa" resource="{{this.addedAfter}}"></span>
        {{/if}}
        <h2>
          <span property="dc:title">{{this.title}}</span>
          {{#if this.type}}
            <span property="besluit:Agendapunt.type" resource="{{this.type}}" typeof="skos:Concept">{{this.typeName}}</span>
        </h2>
        {{/if}}
        {{#if this.description}}
          <p property="dc:description">{{this.description}}</p>
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>
