<div class="agendapunten" prefix="{{prefixes}}">
    <div about="{{zitting.uri}}" typeof="besluit:Zitting">
        <span property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"
              resource="{{zitting.bestuursorgaan}}"> </span>
        <span property="http://data.vlaanderen.be/ns/besluit#geplandeStart"
              content="{{zitting.geplandeStart}}"
              datatype="http://www.w3.org/2001/XMLSchema#dateTime"> </span>
        {{#each zitting.agendapunten as |agendapunt|}}
            <span property="besluit:behandelt"
                  resource="{{agendapunt.uri}}"
                  typeof="besluit:Agendapunt">
            <span property="dc:subject">Agendapunt -</span>&nbsp;
            <span property="besluit:geplandOpenbaar" datatype="xsd:boolean" content="{{agendapunt.geplandOpenbaar}}">
                {{#if agendapunt.geplandOpenbaar}}
                    <i class="fa fa-eye"></i> <span>Gepland openbaar</span>
                {{else}}
                    <i class="fa fa-eye-slash"></i> <span>Gepland besloten</span>
                {{/if}}
            </span>
            {{#if agendapunt.aangebrachtNa}}
              <span property="besluit:aangebrachtNa" resource="{{agendapunt.aangebrachtNa}}"></span>
            {{/if}}
            <p property="dc:title">
                {{agendapunt.titel}}
            </p>
        </span>
        {{/each}}
    </div>
</div>
