<h5>Bijlagen</h5>
<ul class="bullet-list">
  {{#each attachments}}
    {{#if this.isRegulatory}}
      <li><a rev="dct:isPartOf" property="eli:related_to" href="{{this.link}}" typeof="foaf:Document">{{this.filename}}</a></li>
    {{else}}
      <li><a property="eli:related_to" href="{{this.link}}" typeof="foaf:Document">{{this.filename}}</a></li>
    {{/if}}
  {{/each}}
</ul>