<div class="notulen" prefix="{{prefixes}}">
  <div resource="{{zittingUri}}" typeof="besluit:Zitting">
    <h1 property="dc:title">
      Notulen van de/het
      <span
        property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"
        typeof="http://data.vlaanderen.be/ns/besluit#Bestuursorgaan"
        resource="{{bestuursorgaan.uri}}">
          {{bestuursorgaan.name}}
      </span>
      , van
      <span content="{{geplandeStart.value}}" datatype="xsd:dateTime" property="besluit:geplandeStart" class='is-required'>
        {{geplandeStart.text}}
      </span>
    </h1>
    <p>
      Geplande start:
      <span content="{{geplandeStart.value}}" datatype="xsd:dateTime" property="besluit:geplandeStart" class='is-required'>
        {{geplandeStart.text}}
      </span>
    </p>
    <p>
      Locatie:
      <span property="prov:atLocation">
        {{location}}
      </span>
    </p>
    {{#if intermissions}}
      <h2>Onderbrekingen</h2>
      {{#each intermissions as |intermission|}}
        <p typeof="http://mu.semte.ch/vocabularies/ext/Intermission" resource="{{intermission.uri}}">
          <strong>
            Van
            <span property="prov:startedAtTime" datatype="xsd:dateTime" content="{{intermission.startedAt.value}}">
              {{intermission.startedAt.text}}
            </span>
            tot
            <span property="prov:endedAtTime" datatype="xsd:dateTime" content="{{intermission.endedAt.value}}">
              {{intermission.endedAt.text}}
            </span>
          {{#if intermission.comment}}
              :
            </strong>
            <span property="rdfs:comment">
              {{intermission.comment}}
            </span>
          {{/if}}
        </p>
      {{/each}}
    {{/if}}
    <h2>Aanwezigen bij de zitting</h2>
    <div property="ext:aanwezigenTable">
      <p><strong>Aanwezige leden</strong></p>
      <ul>
        {{#each participationList.present as |mandatee|}}
          <li typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris" resource="{{mandatee.uri}}" property="besluit:heeftAanwezigeBijStart">
            <span resource="{{mandatee.personUri}}" property="mandaat:isBestuurlijkeAliasVan">
              <span property="persoon:gebruikteVoornaam">{{mandatee.name}}</span>
              <span property="foaf:familyName">{{mandatee.familyName}}</span>
            </span>
          </li>
        {{/each}}
      </ul>
      <p><strong>Afwezige leden</strong></p>
      <ul>
        {{#each participationList.notPresent as |mandatee|}}
          <li typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris" resource="{{mandatee.uri}}">
            <span resource="{{mandatee.personUri}}" property="mandaat:isBestuurlijkeAliasVan">
              <span property="persoon:gebruikteVoornaam">{{mandatee.name}}</span>
              <span property="foaf:familyName">{{mandatee.familyName}}</span>
            </span>
          </li>
        {{/each}}
      </ul>
    </div>
    <h2>
      De voorzitter opent de zitting op
      <span content="{{startedAt.value}}" datatype="xsd:dateTime" property="prov:startedAtTime" data-editor-position-level="0" data-editor-rdfa-position-level="0">
        {{startedAt.text}}
      </span>.
    </h2>
    {{#if intro}}
      <p>
        {{{intro}}}
      </p>
    {{/if}}
    <h2>Agenda overzicht</h2>
    <div property="http://mu.semte.ch/vocabularies/ext/agendapuntenTable">
      {{#each agendapunten}}
          <span typeof="besluit:Agendapunt" resource="{{this.uri}}" property="besluit:behandelt">
            <span property="dc:subject">Agendapunt</span>
            -
            <span content="{{this.geplandOpenbaar}}" datatype="xsd:boolean" property="besluit:geplandOpenbaar">
              {{#if this.geplandOpenbaar}}
                  <i class="fa fa-eye"></i> <span>Gepland openbaar</span>
              {{else}}
                  <i class="fa fa-eye-slash"></i> <span>Gepland besloten</span>
              {{/if}}
            </span>
            <p datatype="xsd:string" property="dc:title">{{this.titel}}</p>
            <p datatype="xsd:string" property="dc:description">{{this.description}}</p>
          </span>
        {{/each}}
    </div>

    <h2>Behandeling van de Agendapunten</h2>
    <div property="http://mu.semte.ch/vocabularies/ext/behandelingVanAgendapuntenContainer">
      {{{behandelingsHtml}}}
    </div>
    <h2>
      De voorzitter sluit de zitting op
      <span content="{{endedAt.value}}" datatype="xsd:dateTime" property="prov:endedAtTime" class="is-required">
        {{endedAt.text}}
      </span>.
    </h2>
    {{#if outro}}
      <p>
        {{{outro}}}
      </p>
    {{/if}}
  </div>
</div>
