<div class="au-c-template au-c-template--notes notulen" prefix="{{prefixes}}">
  <div resource="{{zittingUri}}" typeof="besluit:Zitting">
    <h1 property="dc:title">
      Notulen van de/het
      <span
        property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"
        typeof="http://data.vlaanderen.be/ns/besluit#Bestuursorgaan"
        resource="{{bestuursorgaan.uri}}">
          {{bestuursorgaan.name}}
      </span>
      , van
      <span content="{{geplandeStart.value}}" datatype="xsd:dateTime" property="besluit:geplandeStart" class='is-required'>
        {{geplandeStart.text}}
      </span>
    </h1>
    <p>
      Geplande start:
      <span content="{{geplandeStart.value}}" datatype="xsd:dateTime" property="besluit:geplandeStart" class='is-required'>
        {{geplandeStart.text}}
      </span>
    </p>
    {{#if location}}
      <p>
        Locatie:
        <span property="prov:atLocation">
          {{location}}
        </span>
      </p>
    {{/if}}
    {{#if intermissions}}
      <h2>Onderbrekingen</h2>
      {{#each intermissions as |intermission|}}
        <p property="ext:hasIntermission" typeof="http://mu.semte.ch/vocabularies/ext/Intermission" resource="{{intermission.uri}}">
          <strong>
            Van
            <span property="prov:startedAtTime" datatype="xsd:dateTime" content="{{intermission.startedAt.value}}">
              {{intermission.startedAt.text}}
            </span>
            {{#if intermission.endedAt.text}}
              tot
              <span property="prov:endedAtTime" datatype="xsd:dateTime" content="{{intermission.endedAt.value}}">
                {{intermission.endedAt.text}}
              </span>
            {{/if}}
            {{#if intermission.apPosition.agendaPosUri}}
              <span property="ext:agendaPosition" typeof="http://mu.semte.ch/vocabularies/ext/AgendaPosition" resource="{{intermission.apPosition.agendaPosUri}}">
                <span property="http://mu.semte.ch/vocabularies/ext/location" typeof="skos:Concept" resource="{{intermission.apPosition.positionUri}}">
                  <span property="skos:prefLabel">
                    {{intermission.apPosition.positionLabel}}
                  </span>
                </span>
                <span style="display: inline !important" property="dct:related" resource="{{intermission.apPosition.apUri}}" typeof="besluit:Agendapunt">
                  <span property="dc:title">
                    {{intermission.apPosition.apTitle}}
                  </span>
                </span>
              </span>
            {{/if}}
          {{#if intermission.comment}}
              :
            </strong>
            <span property="rdfs:comment">
              {{intermission.comment}}
            </span>
          {{/if}}
        </p>
      {{/each}}
    {{/if}}
    {{#if participationList}}
      {{> mandateeList mandatees=participationList.present property="besluit:heeftAanwezigeBijStart" title="Aanwezige leden" includeRole=true}}
      {{> mandateeList mandatees=participationList.notPresent property="ext:heeftAfwezigeBijStart" title="Afwezige leden" includeRole=true}}
      {{#if participationList.chairman}}
        <p>
          <strong>Voorzitter:</strong>
          <span typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris" resource={{participationList.chairman.uri}} property="besluit:heeftVoorzitter">
            <span resource={{participationList.chairman.personUri}} property="mandaat:isBestuurlijkeAliasVan">
              <span property="persoon:gebruikteVoornaam">
                {{participationList.chairman.name}}
              </span>
              <span property="foaf:familyName">
                {{participationList.chairman.familyName}}
              </span>
            </span>
          </span>
        </p>
      {{/if}}
      {{#if participationList.secretary}}
        <p>
          <strong>Secretaris:</strong>
          <span typeof="http://data.lblod.info/vocabularies/leidinggevenden/Functionaris" resource={{participationList.secretary.uri}} property="besluit:heeftSecretaris">
            <span resource={{participationList.secretary.personUri}} property="mandaat:isBestuurlijkeAliasVan">
              <span property="persoon:gebruikteVoornaam">{{participationList.secretary.name}}</span>
                <span property="foaf:familyName">{{participationList.secretary.familyName}}</span>
              </span>
            </span>
          </p>
      {{/if}}
    </div>
  {{/if}}
    <h2>
      De voorzitter opent de zitting op
      <span content="{{startedAt.value}}" datatype="xsd:dateTime" property="prov:startedAtTime" data-editor-position-level="0" data-editor-rdfa-position-level="0">
        {{startedAt.text}}
      </span>.
    </h2>
    {{#if intro}}
      <p>
        {{{intro}}}
      </p>
    {{/if}}
    <h2>Agenda overzicht</h2>
    <ul class="au-c-template-list" property="http://mu.semte.ch/vocabularies/ext/agendapuntenTable">
      {{#each agendapunten}}
        <li class="au-c-template-list__item" typeof="besluit:Agendapunt" resource="{{this.uri}}" property="besluit:behandelt">
          <span property="dc:subject">Agendapunt</span>
          -
          <span content="{{this.geplandOpenbaar}}" datatype="xsd:boolean" property="besluit:geplandOpenbaar">
            {{#if this.geplandOpenbaar}}
              <span class="au-c-template-public">Gepland openbaar</span>
            {{else}}
              <span class="au-c-template-private">Gepland besloten</span>
            {{/if}}
          </span>
          <h3 datatype="xsd:string" property="dc:title">{{this.titel}}</h3>
          <p datatype="xsd:string" property="dc:description">{{this.description}}</p>
        </li>
      {{/each}}
    </ul>

    <h2>Behandeling van de Agendapunten</h2>
    <div class="c-template-content" property="http://mu.semte.ch/vocabularies/ext/behandelingVanAgendapuntenContainer">
      {{{behandelingsHtml}}}
    </div>

    <h2>
      De voorzitter sluit de zitting op
      <span content="{{endedAt.value}}" datatype="xsd:dateTime" property="prov:endedAtTime" class="is-required">
        {{endedAt.text}}
      </span>.
    </h2>
    {{#if outro}}
      <p>
        {{{outro}}}
      </p>
    {{/if}}
  </div>
</div>
