<div class="au-c-template au-c-template--notes notulen" prefix="{{this.prefixes}}">
  <div resource="{{this.meeting.uri}}" typeof="besluit:Zitting">
    <h1 property="dc:title">
      Notulen van de/het
      <span
        property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"
        typeof="http://data.vlaanderen.be/ns/besluit#Bestuursorgaan"
        resource="{{this.meeting.adminBodyUri}}">
        {{this.meeting.adminBodyName}},
      </span> van
      <span content="{{this.meeting.startedAt}}" datatype="xsd:dateTime" property="prov:startedAtTime" class='is-required'>
        {{this.meeting.startedAtText}}
      </span>
    </h1>
    <p>
      Geplande start:
      <span content="{{this.meeting.plannedStart}}" datatype="xsd:dateTime" property="besluit:geplandeStart" class='is-required'>
        {{this.meeting.plannedStartText}}
      </span>
    </p>
    {{#if this.meeting.location}}
      <p>
        Locatie:
        <span property="prov:atLocation">{{this.meeting.location}}</span>
      </p>
    {{/if}}
    {{#if this.intermissions}}
      <h2>Onderbrekingen</h2>
      {{#each this.intermissions}}
        <p property="ext:hasIntermission" typeof="http://mu.semte.ch/vocabularies/ext/Intermission" resource="{{this.uri}}">
          <strong>
            Van
            <span property="prov:startedAtTime" datatype="xsd:dateTime" content="{{this.startedAt}}">
              {{this.startedAtText}}
            </span>
            {{#if this.endedAt}}
              tot
              <span property="prov:endedAtTime" datatype="xsd:dateTime" content="{{this.endedAt}}">
                {{this.endedAtText}}
              </span>
            {{/if}}
            {{#if this.agendaPosition}}
              <span property="ext:agendaPosition" typeof="http://mu.semte.ch/vocabularies/ext/AgendaPosition" resource="{{this.agendaPosition}}">
                <span property="http://mu.semte.ch/vocabularies/ext/location" typeof="skos:Concept" resource="{{this.agendaPositionConcept}}">
                  <span property="skos:prefLabel">
                    {{this.agendaPositionLabel}}
                  </span>
                </span>
                <span style="display: inline !important" property="dct:related" resource="{{this.agendapointUri}}" typeof="besluit:Agendapunt">
                    {{this.agendapointTitle}}
                </span>
              </span>
            {{/if}}
          {{#if this.comment}}
              :
            </strong>
            <span property="rdfs:comment">
              {{this.comment}}
            </span>
          {{/if}}
        </p>
      {{/each}}
    {{/if}}
    {{#if this.participationList}}
      {{> mandateeList mandatees=this.participationList.present property="besluit:heeftAanwezigeBijStart" title="Aanwezige leden" includeRole=true}}
      {{> mandateeList mandatees=this.participationList.notPresent property="ext:heeftAfwezigeBijStart" title="Afwezige leden" includeRole=true}}
      {{#if this.participationList.chairman}}
        <p>
          <strong>Voorzitter:</strong>

          <span typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris" resource="{{this.participationList.chairman.uri}}" property="besluit:heeftVoorzitter">
            <span resource="{{this.participationList.chairman.personUri}}" property="mandaat:isBestuurlijkeAliasVan">
              <span property="persoon:gebruikteVoornaam">{{this.participationList.chairman.name}}</span>
              <span property="foaf:familyName">{{this.participationList.chairman.familyName}}</span>
            </span>
          </span>
        </p>
      {{/if}}
      {{#if participationList.secretary}}
        <p>
          <strong>Secretaris:</strong>
          <span typeof="http://data.lblod.info/vocabularies/leidinggevenden/Functionaris" resource="{{this.participationList.secretary.uri}}" property="besluit:heeftSecretaris">
            <span resource="{{this.participationList.secretary.personUri}}" property="mandaat:isBestuurlijkeAliasVan">
                <span property="persoon:gebruikteVoornaam">{{this.participationList.secretary.name}}</span>
                <span property="foaf:familyName">{{this.participationList.secretary.familyName}}</span>
            </span>
          </span>
        </p>
      {{/if}}
  {{/if}}
    <h2>
      De voorzitter opent de zitting op
      <span content="{{this.meeting.startedAt}}" datatype="xsd:dateTime" property="prov:startedAtTime">
        {{this.meeting.startedAtText}}
      </span>.
    </h2>
    {{#if this.intro}}
      <p>
        {{{this.intro}}}
      </p>
    {{/if}}
    <h2>Agenda overzicht</h2>
    <ul class="au-c-template-list">
      {{#each this.agendapoints}}
        <li class="au-c-template-list__item" typeof="besluit:Agendapunt" resource="{{this.uri}}" property="besluit:behandelt">
          <span property="dc:subject">Agendapunt</span>
          -
          <span content="{{this.plannedPublic}}" datatype="xsd:boolean" property="besluit:geplandOpenbaar">
            {{#if this.plannedPublic}}
              <span class="au-c-template-public">Gepland openbaar</span>
            {{else}}
              <span class="au-c-template-private">Gepland besloten</span>
            {{/if}}
          </span>
          <h3>{{inc this.position}}. <span datatype="xsd:string" property="dc:title">{{this.title}}</span></h3>
          <p datatype="xsd:string" property="dc:description">{{this.description}}</p>
        </li>
      {{/each}}
    </ul>

    <h2>Behandeling van de Agendapunten</h2>
    <div class="c-template-content" property="http://mu.semte.ch/vocabularies/ext/behandelingVanAgendapuntenContainer">
      {{#each this.treatmentsData}}
        {{> treatment}}
      {{/each}}
    </div>

    <h2>
      De voorzitter sluit de zitting op
      <span content="{{this.meeting.endedAt}}" datatype="xsd:dateTime" property="prov:endedAtTime" class="is-required">
        {{this.meeting.endedAtText}}
      </span>.
    </h2>
    {{#if this.meeting.outro}}
      <p>
        {{{this.meeting.outro}}}
      </p>
    {{/if}}
  </div>
</div>
