<div class="au-c-template au-c-template--private" typeof="besluit:BehandelingVanAgendapunt" resource="{{behandelingUri}}" property="ext:behandelt">
  <span content="{{openbaar}}" datatype="xsd:boolean" property="besluit:openbaar">
    {{#if openbaar}}
      <span class="au-c-template-public">Openbare behandeling van agendapunt</span>
    {{else}}
      <span class="au-c-template-private">Besloten behandeling van agendapunt</span>
    {{/if}}
  </span>
  <h3 resource="{{agendapuntUri}}" property="dc:subject">
    <span property="dc:title">{{agendapuntTitle}} </span>
  </h3>
  {{#if isBesluit}}
  <div class="c-template-content c-template-content--decision">
    {{{document}}}
  </div>
  {{/if}}
</div>
